In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN','NAME','AFFILIATION', 'USE_CASE'], axis=1)
application_df

,APPLICATION_TYPE,CLASSIFICATION,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,C1000,Association,1,0,N,5000,1
1,T3,C2000,Co-operative,1,1-9999,N,108590,1
2,T5,C3000,Association,1,0,N,5000,0
3,T3,C2000,Trust,1,10000-24999,N,6692,1
4,T3,C1000,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...
34294,T4,C1000,Association,1,0,N,5000,0
34295,T4,C3000,Association,1,0,N,5000,0
34296,T3,C2000,Association,1,0,N,5000,0
34297,T5,C3000,Association,1,0,N,5000,1
34298,T3,C1000,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Look at APPLICATION_TYPE value counts for binning
application_value_counts = application_df.loc[:, 'APPLICATION_TYPE'].value_counts()
application_value_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [4]:
# Determine which values to replace if counts are less than ...?
replace_application = list(application_value_counts[application_value_counts < 200].index)

# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Look at CLASSIFICATION value counts for binning
classification_value_counts = application_df.loc[:, 'CLASSIFICATION'].value_counts()
classification_value_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [6]:
# Determine which values to replace if counts are less than ..?
replace_class = list(classification_value_counts[classification_value_counts <350].index)

# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [7]:
application_categorical = application_df.dtypes[application_df.dtypes == 'object'].index.tolist()

In [8]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_categorical]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_categorical)
encode_df.head()

C:\Users\justi\anaconda3\envs\mlenv\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,CLASSIFICATION_C1000,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [9]:
# Merge one-hot encoded features and drop the originals
encoded_application_df = application_df.merge(encode_df, left_index = True, right_index = True).drop(columns=application_categorical)
encoded_application_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [10]:
# Split our preprocessed data into our features and target arrays
y = encoded_application_df.loc[:, 'IS_SUCCESSFUL'].values
X = encoded_application_df.drop(columns = ['IS_SUCCESSFUL'], axis = 1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 78)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 100
hidden_nodes_layer2 = 50

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="tanh")
)

# Second hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="tanh"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation = "sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               3400

 dense_1 (Dense)             (None, 50)                5050

 dense_2 (Dense)             (None, 1)                 51

=================================================================
Total params: 8,501
Trainable params: 8,501
Non-trainable params: 0
_________________________________________________________________

In [13]:
nn.compile(loss = "binary_crossentropy", optimizer = "adam", metrics= ["accuracy"])

In [14]:
# Train the model
fit_model = nn.fit(X_train, y_train, epochs = 100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6944 - accuracy: 0.5193
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6921 - accuracy: 0.5232
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6919 - accuracy: 0.5282
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6920 - accuracy: 0.5276
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6920 - accuracy: 0.5292
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6922 - accuracy: 0.5268
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6921 - accuracy: 0.5259
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6924 - accuracy: 0.5273
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6922 - accuracy: 0.5257
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6919 - accuracy: 0.5304
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6923 - accuracy: 0.5253
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6920 - accuracy: 0.5245
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6920 - accuracy: 0.5317
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6918 - accuracy: 0.5311
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6926 - accuracy: 0.5267
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6921 - accuracy: 0.5293
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6924 - accuracy: 0.5268
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6919 - accuracy: 0.5278
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6923 - accuracy: 0.5280
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6923 - accuracy: 0.5263
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6924 - accuracy: 0.5265
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6921 - accuracy: 0.5269
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6924 - accuracy: 0.5249
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6925 - accuracy: 0.5252
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6921 - accuracy: 0.5271
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6922 - accuracy: 0.5269
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6923 - accuracy: 0.5268
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6921 - accuracy: 0.5281
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6923 - accuracy: 0.5281
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6922 - accuracy: 0.5272
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6919 - accuracy: 0.5287
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6920 - accuracy: 0.5279
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6917 - accuracy: 0.5299
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6919 - accuracy: 0.5300
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6921 - accuracy: 0.5276
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6924 - accuracy: 0.5255
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6921 - accuracy: 0.5295
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6926 - accuracy: 0.5265
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6921 - accuracy: 0.5283
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6925 - accuracy: 0.5238
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6926 - accuracy: 0.5271
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6923 - accuracy: 0.5298
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6926 - accuracy: 0.5263
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6920 - accuracy: 0.5265
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6922 - accuracy: 0.5261
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6924 - accuracy: 0.5275
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6920 - accuracy: 0.5269
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6922 - accuracy: 0.5234
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6919 - accuracy: 0.5277
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6922 - accuracy: 0.5277
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6921 - accuracy: 0.5280
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6922 - accuracy: 0.5294
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6918 - accuracy: 0.5300
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6926 - accuracy: 0.5280
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6924 - accuracy: 0.5258
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6927 - accuracy: 0.5215
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6919 - accuracy: 0.5248
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6923 - accuracy: 0.5231
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6925 - accuracy: 0.5256
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6920 - accuracy: 0.5238
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6921 - accuracy: 0.5259
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6922 - accuracy: 0.5243
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6919 - accuracy: 0.5236
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6925 - accuracy: 0.5246
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6920 - accuracy: 0.5267
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6920 - accuracy: 0.5274
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6921 - accuracy: 0.5260
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6923 - accuracy: 0.5239
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6922 - accuracy: 0.5273
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6919 - accuracy: 0.5280
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6926 - accuracy: 0.5226
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6918 - accuracy: 0.5279
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6921 - accuracy: 0.5288
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6922 - accuracy: 0.5247
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6924 - accuracy: 0.5247
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6920 - accuracy: 0.5268
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6920 - accuracy: 0.5290
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6921 - accuracy: 0.5289
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6922 - accuracy: 0.5278
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6925 - accuracy: 0.5224
Epoch 81/100

804/804 [==============================] - 2s 2ms/step - loss: 0.6919 - accuracy: 0.5271
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6923 - accuracy: 0.5270
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6921 - accuracy: 0.5297
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6922 - accuracy: 0.5227
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6919 - accuracy: 0.5292
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6923 - accuracy: 0.5259
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6920 - accuracy: 0.5287
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6924 - accuracy: 0.5247
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6921 - accuracy: 0.5280
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6918 - accuracy: 0.5283
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6921 - accuracy: 0.5290
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6918 - accuracy: 0.5290
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6922 - accuracy: 0.5243
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6925 - accuracy: 0.5250
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6924 - accuracy: 0.5281
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6922 - accuracy: 0.5267
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6917 - accuracy: 0.5283
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6922 - accuracy: 0.5238
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6925 - accuracy: 0.5275
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6922 - accuracy: 0.5281

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.7361 - accuracy: 0.4801 - 584ms/epoch - 2ms/step
Loss: 0.7361387610435486, Accuracy: 0.480116605758667